body{
    font-family: 'Urbanist', sans-serif;
    Font-size: 16px;
    background-color: #bcbcbcbc;
    padding-left: 10px;
}
#contenedor{
    width: 900px;
    background-color: #ffbcbc;
    margin: 0 auto;
    padding: 0px;
}
#header{
    text-align: center;
    width: 96%;
    background-color: #f38ba0;
    padding: 2%;
}
#menu{
    width: 18%;
    float: left;
    background-color: #ffbcbc;
    padding: 2%;
}
#content{
    width: 73%;
    float: right;
    background-color: aliceblue;
    padding: 2%;
}
#footer{
    text-align: center;
    clear: both;
    background-color: #f38ba0;
}